APP_NAME=SONGBIRD FSP Observer
IDENTITY_ADDRESS="0x"
LOG_LEVEL=DEBUG
NOTIFICATION_DISCORD_WEBHOOK=https://discord.com/api/webhooks/secret/secret
NOTIFICATION_TELEGRAM_BOT_TOKEN=
NOTIFICATION_TELEGRAM_CHAT_ID=
NOTIFICATION_SLACK_WEBHOOK=https://hooks.slack.com/services/secret/secret/secret
NOTIFICATION_GENERIC_WEBHOOK=http://host:port/path
RPC_URL=http://songbird.home.arpa:9650/ext/bc/C/rpc